/*
 * You can just delete everything here or keep whatever you like, it's just a
 * quick baseline!
 */
:root {
  --color-foreground: hsl(0, 0%, 7%);
  --color-background: hsl(0, 0%, 100%);
  --color-links: hsl(213, 100%, 52%);
  --color-links-hover: hsl(213, 100%, 43%);
  --color-border: hsl(0, 0%, 82%);
  --font-body: -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif,
    system-ui, 'Apple Color Emoji', 'Segoe UI Emoji';
}
html {
  box-sizing: border-box;
}
.fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.loader {
  -webkit-animation: animate 1250ms linear infinite;
  animation: animate 1250ms linear infinite;
}
@-webkit-keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.truncate-3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
